*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: white;
	font-family: monospace;
	color: black;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.25em;
	text-align: left;
}

.container {
	display: inline-block;
	font-size: 0px;
	padding: 24px;
	width: auto;
}

#typewriter {
	font-size: 24px;
	white-space: pre-line;
}

.cursor {
	font-size: 24px;
  animation: 1s blink step-end infinite;
}

::selection {
  color: white;
  background: black;
}

::-moz-selection {
  color: white;
  background: black;
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
