*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-color: white;
	font-family: monospace;
	color: black;
	font-weight: normal;
	font-size: 24px;
	line-height: 1.25em;
	text-align: left;
}

.main_container {
	padding: 20px;
	font-size: 0;
}

.letters_container{
	display: inline-block;
	font-size: 24px;
	margin: 0;
	width: auto;
}

.cursor {
	display: inline-block;
	font-size: 24px;
	margin: 0;
  animation: 1s blink step-end infinite;
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
